@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: '1';
    src: url(../fonts/CircularStd-Medium.woff);
}
$signature-font: 'ZCOOL KuaiLe';
$burgundy-red: rgba(128, 0, 32, 1);
$anti-flash-white: rgba(234, 242, 239, 1);
$white-light-blue: rgba(207, 232, 239, 1);
$white-darker-blue: rgba(198, 219, 240, 1);
$lightblue: rgba(174, 209, 230, 1);
$white: #FFFFFE;
$yelloish: #FECE6C;
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   
}
::-webkit-scrollbar { 
    display: none; 
}
@mixin mobile {
    @media (max-width: 480px){
        @content;
    }
}
@mixin tablet {
    @media (max-width: 950px){
        @content;
    }
}

body{
    @include mobile{
        overflow: auto;
    }
}
.content-wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    background-color: $white;
    .loading-div{
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 105%;
        background-color: #86ADBE;
        transform: translateY(105%);
        animation: .7s translateBottomTop ease-out .3s forwards, 0.7s removeClipPath ease-out .3 forwards, 0.7s translateBottomTop ease-out reverse 5s forwards;
        padding: 20px;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
        z-index: 2;
        will-change: transform;
        >.signature-container{
            width: 100%;
            max-width: 600px;
            height: 200px;
            transform: translate(calc(50vw - 50% - 20px) ,calc(50vh - 50% - 20px));
            position: relative;
            >.signature-inner{
                position: relative;
                height: 100%;
                width: 0;
                overflow: hidden;
                float: left;
                background-color: #86ADBE;
                transform-origin: 0 0;
                animation: 1s scaleXSignature ease-in-out 1.2s forwards, 1s scaleXSignature2 ease-in-out 2.9s forwards;
                z-index: 1;
                
                >span{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    font-size:calc(3vw + 50px);
                    font-family: $signature-font;
                    font-weight: 400;
                    color: $anti-flash-white;
                    text-transform: uppercase;
                    @include mobile {
                        font-size:calc(1vw + 50px);
                    }
                }
            }
            >.signature-image{
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 225px;
                overflow: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                animation: fadeIn 1s ease-in-out 3.2s forwards;

                path {
                    animation: unset;
                }

                @include mobile {
                    max-width: 300px; 
                    max-height: calc(400 * 3 / 4);
                }
            }
        }
    }
    .loading-div-2{
        background-color: $burgundy-red;
        animation-delay: 0.1s;
        

    
    }
    .nav-container{
        display: none;
        transform: translateY(0%);
        transition: 0.3s ease-out;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        @include mobile{
            display: block;
        }
        nav {
            position: relative;
            width: 100%;
            height: 70px;
            background-color: white;
            transition: 0.3s ease-out;
            opacity: 0;
            transform: translateY(-100%);
            animation: 0.7s fadeIn ease-in-out forwards, 0.7s navTranslateY ease-in-out forwards;
            animation-delay: 5.6s, 5.6s;
            .border-bottom{
                display: block;
                height: 1px;
                background-color: black;
                width: 100%;
                position: absolute;
                bottom: -1px;
                left: 0;
                animation: 1.5s fillChangeColor linear;
                animation-delay: 6.1s; 
            }
            .nav-logo{
                width: 100px;
                height: 62.5px;
                margin: 5px auto 5px auto;
               path {
                   animation: 1.5s fillChangeColor linear; 
                    animation-delay: 6.1s; 
               }
            }
        }
    }
    
    

    .content-container {
        position: relative;
        opacity: 0;
        animation: 1s fadeIn forwards;
        animation-delay: 5.6s;
        transition: transform 1.8s ease-out;
        @include mobile{
            display: none;
        }
        .content-background{
            transition: inherit;
            >div{
                width: 110%;
                padding: 5vh 5vw 10vh 5vw;
                height: 65vh;
                
                @include tablet{
                    
                    &::after{
                        top: -14px !important;
                        height: 15px !important;
                    }
                }
                
                &:nth-of-type(1){
                    
                }
                &:nth-of-type(2){
                    background-color: $yelloish;
                    position: relative;
                    padding-bottom: 20vh;
                    left: -20px;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
                        animation: 2s test linear infinite;
                        left: 0;
                        top: -29px;
                        background-color: $yelloish;
                        
                    }
                }
                &:nth-of-type(3), &:nth-of-type(5){
                    
                    background-color: $white;
                    position: relative;
                    left: -20px;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
                        animation: 2s test linear reverse infinite;
                        left: 0;
                        top: -29px;
                        background-color: $white;
                        
                    }
                }
                &:nth-of-type(4){
                    
                    background-color: #FF0300;
                    position: relative;
                    left: -20px;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
                        animation: 2s test linear infinite;
                        left: 0;
                        top: -29px;
                        background-color: #FF0300;
                        
                    }
                }
                &:nth-of-type(6){
                    background-color: #828282;
                    position: relative;
                    left: -20px;
                    height: 60vh;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
                        animation: 2s test linear infinite;
                        left: 0;
                        top: -29px;
                        background-color: #828282;
                    }
                }
                &:nth-of-type(7){
                    background-color: white;
                    position: relative;
                    left: -20px;
                    height: 60vh;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
                        animation: 2s test linear reverse infinite;
                        left: 0;
                        top: -29px;
                        background-color: white;
                    }
                }
            }
        } 

        .content-images{
            
            transition: inherit;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            max-width: calc(1100px + 10vw);
            transform: translateX(-50%);
            padding: 0 5vw;
            >div{
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: transform 0.4s ease-in-out;
                &:nth-of-type(1){
                    width: 40%;
                    padding-top: calc(40% * 4 / 3);
                    background-image: url(../images/art/1.jpg);
                }
                &:nth-of-type(2){
                    margin-top: 5vh;
                    margin-left: auto;
                    width: 40%;
                    padding-top: calc(40% * 951 / 649);
                    background-image: url(../images/art/2.jpg);
                }
                &:nth-of-type(3){
                    margin-top: 5vh;
                    width: 40%;
                    padding-top: calc(40% * 4 / 3);
                    background-image: url(../images/art/3.jpg);
                }
                &:nth-of-type(4){
                    margin: 5vh auto;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/4.jpg);
                }
                &:nth-of-type(5){
                    margin-top: 5vh;
                    margin-right: 0; 
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/5.jpg);
                }
                &:nth-of-type(6){
                    margin-top: 5vh;
                    margin: 5vh auto;
                    width: 45%;
                    padding-top: calc(45%);
                    background-image: url(../images/art/6.jpg);

                }
                &:nth-of-type(7){
                    margin-top: 5vh;
                    margin-left: auto;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/7.jpg);
                }
                &:nth-of-type(8){
                    margin-top: 5vh;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/8.jpg);
                }
                &:nth-of-type(9){
                    margin-top: 5vh;
                    margin: 5vh auto;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/9.jpg);
                }
            }
        }
    }

    .images-sections{
        display: none;
        overflow: hidden !important;
        opacity: 0;
        animation: 1s fadeIn forwards;
        //animation-delay: 5.8s;
        .section {
            width: 100%;
            padding: 5vh 5vw 10vh 5vw;
            opacity: 1;
            transition: opacity 0.3s ease-out;
            .image-inner-wrapper{
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                position: relative;
                z-index: 3;

                >.image-container{
                    transition: 0.3s ease-in-out, transform 1.4s ease-in-out;
                    cursor: pointer;
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    &::after{
                        height: 90%;
                        width: 5px;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: -5px;
                        transition: inherit;
                    }
                    &::before{
                        width: 90%;
                        height: 5px;
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        right: -5px;
                        transition: inherit;

                    }
                    &:hover{
                        transform: translate(-4px, -4px);
                        &::after{
                            transform: translate(8px, 8px);
                        }
                        &::before{
                            transform: translate(8px, 8px);
                        }
                    }
                }
            }
        }

        >div{
            &:first-of-type{
                
                .image-container{
                    margin: 0 auto;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/1.jpg);
                    @include mobile{
                        width: 100%;
                        padding-top: calc(100% * 4 / 3);  
                    }
                    &::after{
                        background-color: #91B6D0;
                    }
                    &::before{
                      
                        background-color: #91B6D0;
                    }
                }
            }
            &:nth-of-type(2){
                margin-top: 50px;
                background-color: $yelloish;
                position: relative;
                padding-bottom: 20vh;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear infinite;
                    left: 0px;
                    top: -29px;
                    background-color: $yelloish;
                    @include mobile {
                    }
                }
                .image-container{
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/2.jpg);  
                    @include mobile{
                        width: 100%;
                        padding-top: calc(100% * 4 / 3);  
                    }
                    &::after{
                        background-color: $burgundy-red;
                    }
                    &::before{
                      
                        background-color: $burgundy-red;
                    }
                }
            }
            &:nth-of-type(3){
                margin-top: -10vh;
                background-color: $burgundy-red;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear reverse infinite;
                    left: 0;
                    top: -29px;
                    background-color: $burgundy-red;
                    @include mobile {
                    }
                }
                .image-container{
                    margin-left: auto;
                    width: 45%;
                    padding-top: calc(45% * 4 / 3);
                    background-image: url(../images/art/3.jpg);  
                    @include mobile{
                        width: 100%;
                        padding-top: calc(100% * 4 / 3);  
                    }
                    &::after{
                        background-color: $yelloish;
                        left: -5px;
                    }
                    &::before{
                        background-color: $yelloish;
                        left: -5px;
                    }

                    &:hover{
                        transform: translate(4px, -4px) !important;
                        &::after{
                            transform: translate(-8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(-8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(4){
                
                background-color: #828282;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear infinite;
                    left: 0;
                    top: -29px;
                    background-color: #828282;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/4.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 951 / 649);  
                    &::after{
                        background-color: $burgundy-red;
                        left: -5px;
                    }
                    &::before{
                        background-color: $burgundy-red;
                        left: -5px;
                    }

                    &:hover{
                        transform: translate(4px, -4px) !important;
                        &::after{
                            transform: translate(-8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(-8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(5){
                
                background-color: white;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear reverse infinite;
                    left: 0;
                    top: -29px;
                    background-color: white;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/5.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 2232 / 2379);  
                    &::after{
                        background-color: #828282;
                        right: 15px !important;
                        bottom: 10px !important; 
                    }
                    &::before{
                        background-color: #828282;
                        right: 15px !important; 
                        bottom: 10px !important; 
                    }
                    &:hover{
                        transform: translate(-4px, -4px) !important;
                        &::after{
                            transform: translate(8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(6){
                
                background-color: #FF0300;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear infinite;
                    left: 0;
                    top: -29px;
                    background-color: #FF0300;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/6.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 4 / 3);  
                    &::after{
                        background-color: white;
                        right: -10px !important;
                        bottom: -10px !important;

                    }
                    &::before{
                        background-color: white;
                        right: -10px !important;
                        bottom: -10px !important;

                    }
                    &:hover{
                        transform: translate(-4px, -4px) !important;
                        &::after{
                            transform: translate(8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(7){
                
                background-color: white;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear reverse infinite;
                    left: 0;
                    top: -29px;
                    background-color: white;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/7.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 4 / 3);  
                    &::after{
                        background-color: #FF0300;
                        left: -5px;
                        right: 0;
                    }
                    &::before{
                        background-color: #FF0300;
                        left: -5px;
                        right: 0;
                    }
                    &:hover{
                        transform: translate(-4px, -4px) !important;
                        &::after{
                            transform: translate(8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(8){
                
                background-color: #A1BCD9;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear infinite;
                    left: 0;
                    top: -29px;
                    background-color: #A1BCD9;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/8.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 4 / 3);  
                    &::after{
                        background-color: #F5AAB1;
                        right: -10px !important;
                        bottom: -10px !important;
                    }
                    &::before{
                        background-color: #F5AAB1;
                        right: -10px !important;
                        bottom: -10px !important;
                    }
                    &:hover{
                        transform: translate(-4px, -4px) !important;
                        &::after{
                            transform: translate(8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(8px, 8px) !important;
                        }
                    }
                }

                
            }
            &:nth-of-type(9){
                
                background-color: #F5AAB1;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 113%;
                    height: 30px;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 95% 2.5vw, 90% 0, 85% 2.5vw, 80% 0%, 75% 2.5vw, 70% 0%, 65% 2.5vw, 60% 0%, 55% 2.5vw, 50% 0%, 45% 2.5vw, 40% 0%, 35% 2.5vw, 30% 0%, 25% 2.5vw, 20% 0%, 15% 2.5vw, 10% 0%, 5% 2.5vw);
                    animation: 1s borderTranslateMobile linear infinite;
                    left: 0;
                    top: -29px;
                    background-color: #F5AAB1;
                    @include mobile {
                    }
                }
                .image-container{
                    background-image: url(../images/art/9.jpg);  
                    width: 100%;
                    padding-top: calc(100% * 4 / 3);  
                    &::after{
                        background-color: #828282;
                        right: -10px !important;
                        bottom: -10px !important;
                    }
                    &::before{
                        background-color: #828282;
                        right: -10px !important;
                        bottom: -10px !important;
                    }
                    &:hover{
                        transform: translate(-4px, -4px) !important;
                        &::after{
                            transform: translate(8px, 8px) !important;
                        }
                        &::before{
                            transform: translate(8px, 8px) !important;
                        }
                    }
                }

                
            }
        }
    }
}


.onlymobile{
    @include mobile{
        display: block !important;
    }
}

@keyframes translateBottomTop {
    0% {
        transform: translateY(105%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes scaleXSignature {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes scaleXSignature2 {
    0% {
        float: right;
        width: 100%;
    }

    100% {
        float: right;
        width: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateBg{
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 500%;
    }
}
@keyframes test{
    0% {
        transform: translateX(0) ;
    }
    100% {
        transform: translateX(-8%) ;
    }
}
@keyframes borderTranslateMobile{
    0% {
        transform: translateX(0) ;
    }
    100% {
        transform: translateX(-10%) ;
    }
}
@keyframes navTranslateY{
    0% {
        transform: translateY(-100) ;
    }
    100% {
        transform: translateY(0) ;
    }
}
@keyframes fillChangeColor {
    0% {
        fill: #000000;
        background-color: #000000;
    }
    24.99% {
        fill: #000000;
        background-color: #000000;
    }
    25% {
        fill: $yelloish;
        background-color: $yelloish;
    }
    49.99% {
        fill: $yelloish;
        background-color: $yelloish;
    }
    50% {
        fill: $burgundy-red;
        background-color: $burgundy-red;
    }
    74.99% {
        fill: $burgundy-red;
        background-color: $burgundy-red;
    }
    75% {
        fill: #91B6D0;
        background-color: #91B6D0;
    }
    100% {
        fill: #91B6D0;
        background-color: #91B6D0;
    }
}